.imagenes{
    background: black;
}
.imagenes__contenedor{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: auto;
    flex-wrap: wrap;
    max-width: 1000px;
}
.imagenes__madres{
    width: 350px;
    height: 350px;
    margin-bottom: 20px;
}
