.principal{
    background-color: darkgrey;
}
.principal>.article {
    background: darkgray;
    padding: 20px;
    margin-top: 5px;
    color: #dfe6e9
}
.principal .article h2,
.principal .article h3,
.principal .article p{
    padding: 10px;
}
.primero__heading{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    background-color: black;
    border-left: 5px solid;
    border-right: 5px solid;
    color: #ffffff;
    margin: 50px;
 }
 .primero__parrafo{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    margin: 20px;
}
.segundo__heading{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    background-color: black;
    border-left: 5px solid;
    border-right: 5px solid;
    color: #ffffff;
    margin: 50px;
}
 
.segundo__caja{
    padding: 15px 15px 20px 15px;
    border-left: 5px solid;
    border-right: 5px solid;
    background: darkorchid;
    margin-bottom: 30px;
    line-height: 26px !important;
}
 
.segundo__parrafo{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    margin: 100px;
}
.contenedor__boton{
    text-align: center;
    border: 1px solid;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    justify-content: center;
    align-items: center;
    
    
}
.contenedorrs{
    width: 20px;
    margin-left: 50%;
    transform: translateX(-50%);
}