* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

body {
  min-height: 100%;
  background-image: url(../../img/banner.jpg); }

html {
  height: 100%; }

.header h1 {
  padding: 20px 0;
  text-align: center;
  font-size: 1.9em;
  font-family: 'Barlow', sans-serif; }

h1 {
  animation-duration: 3s;
  animation-name: aparecer;
  animation-iteration-count: initial; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.container {
  background: transparent;
  width: 100%;
  max-width: 1000px;
  margin: 1.6em auto;
  display: grid;
  gap: 10px;
  grid-template-areas: "header header header" 
 "menu menu menu"  
 "imagenes imagenes imagenes" 
 "principal principal principal"
 "pie pie pie";
  grid-template-rows: repeat(6, 0, 1fr);
  grid-template-columns: repeat(6, 0, 1fr); }

.container > .header,
.container > .menu,
.container > .principal,
.container > .imagenes,
.container > .pie,
.container > div {
  background: darkorchid;
  padding: 20px; }

.container > .header,
.container > .pie,
.container > .menu {
  background-color: darkorchid;
  color: black;
  grid-column: 1/7; }

.container > .principal {
  grid-column: 1/7; }

.container > .imagenes {
  grid-column: 1/7;
  background: darkorchid;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center; }

.container .imagenes {
  display: flex;
  width: 100%; }

.imagenes {
  background: black; }

.imagenes__contenedor {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: auto;
  flex-wrap: wrap;
  max-width: 1000px; }

.imagenes__madres {
  width: 350px;
  height: 350px;
  margin-bottom: 20px; }

.menu__clickon {
  color: white;
  text-decoration: none;
  width: 100px;
  display: inline-block;
  transition: .5s; }
  .menu__clickon__items {
    text-decoration: none;
    list-style: none;
    text-align: center;
    background-color: darkorchid;
    padding: 0;
    margin: 0;
    width: 10; }

a:hover {
  background-color: black; }

nav ul li {
  display: inline-block; }

.principal {
  background-color: darkgrey; }

.principal > .article {
  background: darkgray;
  padding: 20px;
  margin-top: 5px;
  color: #dfe6e9; }

.principal .article h2,
.principal .article h3,
.principal .article p {
  padding: 10px; }

.primero__heading {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: xx-large;
  background-color: black;
  border-left: 5px solid;
  border-right: 5px solid;
  color: #ffffff;
  margin: 50px; }

.primero__parrafo {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
  margin: 20px; }

.segundo__heading {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: xx-large;
  background-color: black;
  border-left: 5px solid;
  border-right: 5px solid;
  color: #ffffff;
  margin: 50px; }

.segundo__caja {
  padding: 15px 15px 20px 15px;
  border-left: 5px solid;
  border-right: 5px solid;
  background: darkorchid;
  margin-bottom: 30px;
  line-height: 26px !important; }

.segundo__parrafo {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
  margin: 100px; }

.contenedor__boton {
  text-align: center;
  border: 1px solid;
  padding: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  justify-content: center;
  align-items: center; }

.contenedorrs {
  width: 20px;
  margin-left: 50%;
  transform: translateX(-50%); }

.pie {
  text-align: center;
  margin-bottom: 20px; }

.contenedor > .pie {
  padding: 20px; }

body {
  background-image: url(../img/banner.jpg); }

p {
  color: black; }

body {
  background-image: url(../img/banner.jpg); }

.header h1 {
  padding: 20px 0;
  text-align: center;
  font-size: 1.9em;
  font-family: 'Barlow', sans-serif; }

h1 {
  animation-duration: 3s;
  animation-name: aparecer;
  animation-iteration-count: initial; }

.contenedor {
  background: transparent;
  width: 90%;
  max-width: 1000px;
  margin: 1.6em auto;
  display: grid;
  gap: 1.6em;
  grid-template-columns: repeat(6, 1fr);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

.contenedor > .header,
.contenedor > .pie-historia,
.contenedor > .menu {
  grid-column: 1/7;
  background-color: darkorchid;
  color: black; }

.menu__clickon {
  color: white;
  text-decoration: none;
  width: 100px;
  display: inline-block;
  transition: .5s; }

.menu__items {
  text-decoration: none;
  list-style: none;
  text-align: center;
  background-color: darkorchid;
  padding: 0;
  margin: 0;
  width: 10; }

a:hover {
  background-color: black; }

nav ul li {
  display: inline-block; }

.pie-historia {
  text-align: center; }

.historia__caja {
  padding: 15px 15px 20px 15px;
  background: darkorchid;
  margin-bottom: 30px;
  line-height: 26px !important;
  display: flex;
  justify-content: space-around;
  margin: auto;
  flex-wrap: wrap; }

.historia {
  grid-column: 1/7;
  display: flex;
  justify-content: center;
  flex-direction: row; }

.contenedor > .historia {
  grid-column: 1/7; }

.contenedor > .pie-historia {
  grid-column: 1/7; }

.contenedor > .header,
.contenedor > .menu,
.contenedor > .pie-historia {
  background: darkorchid;
  padding: 20px; }

.contenedor > .pie-historia {
  background: darkorchid;
  padding: 20px; }

.pie-historia {
  padding: 15px 15px 20px 15px;
  background: darkorchid;
  margin-bottom: 30px;
  line-height: 26px !important;
  text-align: center; }

body {
  background-image: url(../img/banner.jpg); }

.header h1 {
  padding: 20px 0;
  text-align: center;
  font-size: 1.9em;
  font-family: 'Barlow', sans-serif; }

h1 {
  animation-duration: 3s;
  animation-name: aparecer;
  animation-iteration-count: initial; }

.contenedor3 {
  background: transparent;
  width: 100%;
  max-width: 1000px;
  margin: 1.6em auto;
  display: grid;
  gap: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto; }

.principal > .article {
  background: darkgray;
  padding: 20px;
  margin-top: 5px;
  color: #dfe6e9; }

.contenedor3 > .header,
.contenedor3 > .pie-sumate,
.contenedor3 > .menu,
.contenedor3 > .principal {
  grid-column: 1/7;
  background-color: darkorchid;
  color: black;
  padding: 20px; }

.menu__clickon {
  color: white;
  text-decoration: none;
  width: 100px;
  display: inline-block;
  transition: .5s; }
  .menu__clickon__items {
    text-decoration: none;
    list-style: none;
    text-align: center;
    background-color: darkorchid;
    padding: 0;
    margin: 0;
    width: 10; }

a:hover {
  background-color: black; }

nav ul li {
  display: inline-block; }

.principal {
  grid-column: 1/7; }

.sumate__heading {
  background-color: darkorchid;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: medium;
  color: #ffffff; }
  .sumate__heading__ya {
    padding: 15px 15px 20px 15px;
    background: darkorchid;
    margin-bottom: 30px;
    line-height: 26px !important;
    display: flex;
    justify-content: space-around;
    margin: auto;
    flex-wrap: wrap;
    grid-column: 1/7; }

.contenedor3 > .principal {
  grid-column: 1/7; }

.contenedor3 > .pie-sumate {
  grid-column: 1/7; }

.video {
  text-align: center;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden; }

.video iframe {
  grid-column: 1/7;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.pie-sumate {
  text-align: center; }

.contenedor3 {
  background: transparent;
  width: 100%;
  max-width: 1000px;
  margin: 1.6em auto;
  display: grid;
  gap: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto; }

.contenedor3 > .header,
.contenedor3 > .pie-nosotros,
.contenedor3 > .menu,
.contenedor3 > .principal {
  grid-column: 1/7;
  background-color: darkorchid;
  color: black;
  padding: 20px; }

.contenedor3 > .pie-nosotros {
  grid-column: 1/7; }

.principal__title {
  text-align: center; }

.pie-nosotros {
  text-align: center;
  margin-bottom: 20px;
  grid-column: 1/7;
  background-color: darkorchid; }

.contenedor3 > .pie-nosotros {
  padding: 20px; }

.instagram-media {
  text-align: center;
  align-content: center; }

.insta {
  text-align: center; }

.contenedor3 {
  background: transparent;
  width: 100%;
  max-width: 1000px;
  margin: 1.6em auto;
  display: grid;
  gap: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto; }

.pie-contacto {
  text-align: center;
  margin-bottom: 20px;
  grid-column: 1/7;
  background-color: darkorchid; }

.contenedor3 > .header,
.contenedor3 > .menu,
.contenedor3 > .formulario__caja,
.contenedor3 > .pie-contacto,
.contenedor3 > div {
  background: darkorchid;
  padding: 20px; }

.contenedor3 > .header,
.contenedor3 > .pie-contacto,
.contenedor3 > .menu,
.contenedor3 > .formulario {
  background-color: darkorchid;
  color: black;
  grid-column: 1/7; }

.formulario {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .formulario__caja {
    border: none;
    margin: 0 auto; }

/*------MEDIA QUERIES INDEX-------*/
@media screen and (max-width: 425px) {
  .container {
    grid-template-areas: "header header header"  100px
 "menu menu menu"  50px
 "imagenes imagenes imagenes" 250px
 "principal principal principal"    auto
 "pie pie pie"  50px; } }

@media screen and (max-width: 320px) {
  .video {
    width: 560px;
    height: 315px;
    overflow: hidden; } }
